################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECarApp/FileContentIndex
/.vs/ProjectEvaluation/ecarapp.projects.v5.2
/.vs/ECarApp/DesignTimeBuild/.dtbcache.v2
/.vs/ECarApp/v17/.futdcache.v2
/.vs/ECarApp/v17/.suo
/.vs/ProjectEvaluation/ecarapp.metadata.v5.2
/ECarApp/ECarApp.vbproj.user
/.vs/ECarApp/v17/.wsuo
/.vs/slnx.sqlite
/ECarApp/bin/Debug/net6.0-windows/ECarApp.pdb
/ECarApp/bin/Debug/net6.0-windows/ECarApp.dll
/ECarApp/obj/Debug/net6.0-windows/refint/ECarApp.dll
/ECarApp/obj/Debug/net6.0-windows/ref/ECarApp.dll
/ECarApp/obj/Debug/net6.0-windows/ECarApp.vbproj.GenerateResource.cache
/ECarApp/obj/Debug/net6.0-windows/ECarApp.vbproj.FileListAbsolute.txt
/ECarApp/obj/Debug/net6.0-windows/ECarApp.vbproj.CoreCompileInputs.cache
/ECarApp/obj/Debug/net6.0-windows/ECarApp.pdb
/ECarApp/obj/Debug/net6.0-windows/ECarApp.dll
/ECarApp/obj/Debug/net6.0-windows/TempPE/My Project.Resources.Designer.vb.dll
/ECarApp/obj/Debug/net6.0-windows/ECarApp.Resources.resources
/ECarApp/obj/Debug/net6.0-windows/ECarApp.IntrusionDialog.resources
/ECarApp/obj/Debug/net6.0-windows/ECarApp.assets.cache
/ECarApp/obj/Debug/net6.0-windows/ECarApp.GeneratedMSBuildEditorConfig.editorconfig
