################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ECarApp/FileContentIndex
/.vs/ProjectEvaluation/ecarapp.projects.v5.2
/.vs/ECarApp/DesignTimeBuild/.dtbcache.v2
/.vs/ECarApp/v17/.futdcache.v2
/.vs/ECarApp/v17/.suo
/.vs/ProjectEvaluation/ecarapp.metadata.v5.2
/ECarApp/ECarApp.vbproj.user
/.vs/ECarApp/v17/.wsuo
/.vs/slnx.sqlite
/ECarApp/bin/Debug/net6.0-windows/ECarApp.pdb
/ECarApp/bin/Debug/net6.0-windows/ECarApp.dll
